:root{
    --ps-dark: #000000;
    --ps-secondary: #00439C;
    --ps-secondarylight: #2D64E6;
    --ps-darklight: #363636;
    --ps-grey: #BEBCBB;
    --ps-warning: #CD3D0F;
    --ps-lighter: #FFFFFF;
    --ps-grey: #7A7A7A;


}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* #region utilities */

.btn_warning{
    background-color: var(--ps-warning);
    color: var(--ps-lighter);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
}

.btn_dark{
    background-color: var(--ps-darklight);
    color: var(--ps-lighter);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    
}

.btn_secondarylight{
    background-color: var(--ps-secondarylight);
    color: var(--ps-lighter);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
}

.ps_grey{
    color: var(--ps-grey);
}





/* #region debug */

.debug header .header_top{
    height: 40px;
}

.debug header .header_bottom{
    height: 60px;
}

.debug [class^="col"]{
    background-color: red;
    
    height: 100px;
    border: 1px solid ;
}


/* #region header */

header .header_top{
    background-color: var(--ps-dark);
}

header .header_top .logo{
    width: 70px;
}


/* #endregion header */

/* #region main */



main .jumbotron {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/jumbo-bg.png);
}

main .jumbotron .jumbo_description{
    max-width: 700px;
}


